<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h4>フォロー中</h4>
    </div>
  </div>

<% if @users.exists? %>
  <% @users.each do |user| %>
  <div class="row" style= "border-bottom: 1px solid #bbbbbb;">
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
            <% end %>
            <%= link_to user.name, user_path(user) %>
          </th>
          <td><%= user.challenge_contents %></td>
          <td><%= user.introduction %></td>
          <td><%= render 'follow_btn', user: @user %></td>
        </tr>
      </thead>
    </table>
  </div>
  <% end %>
<% else %>
   <p>ユーザーはいません</p>
<% end %>
</div>