<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">フォロワー</h5>
    </div>
  </div>

<% if @users.exists? %>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-3 text-right">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
      <% end %>
    </div>

    <div class="col-md-8 text-left">
      <table class='table table-borderless'>
        <thead>
          <tr>
            <th style="width: 50%"><%= link_to user.name, user_path(user) %></th>
            <th style="width: 50%"><%= render 'relationships/follow_btn', user: user %></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= user.challenge_contents %></td>
            <td><%= user.introduction %></td>
          </tr>
        </tbody>
  <% end %>
      </table>
<% else %>
    <p>ユーザーはいません</p>
<% end %>