<div class="container">
  <div class="row">
    <%# if @user.errors.any? %>
    <!--<ul class="error_messages">-->
    <!--  <h3><%#= @user.errors.count %>errors prohibited this user from being saved:</h3>-->
    <!--    <%# @user.errors.full_messages.each do |message| %>-->
    <!--    <%#= message %>-->
    <!--    <%# end %>-->
    <!--</ul>-->
    <!--<%# end %>-->

    <%= form_with(model:@user, url:complete_tweets_path, local: true ,method: :put) do |f| %>
       <div class="form-group col-xs-12">
        <%= f.label :"がんばったこと", class: "col-sm-5 control-label" %>
        <%= f.text_field :challenge, class: "col-sm-11 form-control-static" %>
      </div>
      <div class="form-group col-xs-12">
        <%#= f.label :"がんばった時間", class: "col-sm-5 control-label" %>
        <%#= f.text_field :name, class: "name col-sm-6 form-control-static name" %>
      </div>
       <div class="form-group col-xs-12">
        <%= f.label :"つぶやき", class: "col-sm-5 control-label" %>
        <%= f.text_field :tweet, class: "col-sm-11 form-control-static" %>
      </div>
      <div class="form-group col-xs-12">
        <%#= f.label :"写真", class: "col-sm-5 control-label" %>
        <%#= f.attachment_field :profile_image, placeholder: "写真・画像を選択" %>
      </div>

      <!--モデルに書いたenumを呼び出す-->
      <div class="form-group col-xs-12">
        <%#= f.label :"今日のごほうびスタンプ", class: "col-sm-5 control-label" %>
        <%#= f.radio_button :stamp_type, "stamp1.png" %>
        <%#= f.radio_button :stamp_type, "stamp2.png" %>
        <%#= f.radio_button :stamp_type, "stamp3.png" %>
        <%#= f.radio_button :stamp_type, "stamp4.png" %>
      </div>
      <div class="actions col-xs-9 col-xs-offset-3">
        <%= f.submit "保存", class: "btn btn-primary save col-xs-6" %>
      </div>
    <% end %>
  </div>
</div>