<div class="container mt-5 mb-5" style="background-color:white;">
  <div class="row" >
    <div class="col-md-6 text-center" style="margin: 15px 0 15px 0;">
      <h4>今日のがんばったこと・つぶやき</h4>
    </div>
  </div>
  <br>
    <%= form_with model:@tweet, local: true do |f| %>
     <div class="form-group col-xs-12">
      <%= f.label :" がんばったこと", class: "col-sm-4 control-label far fa-flag" %>
      <%= f.text_field :challenge, class: "col-sm-6 form-control-static" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label :" がんばった時間", class: "col-sm-4 control-label fas fa-history" %>
      <%= f.select :hour_attribute,Tweet.hour_attributes.keys, {} %>時間
      <%= f.select :minute_attribute,Tweet.minute_attributes.keys, {} %>分
    </div>
     <div class="form-group col-xs-12">
      <%= f.label :" つぶやき", class: "col-sm-4 control-label" %>
      <%= f.text_area :tweet,placeholder: "今日の取り組み、がんばった内容、要点、今の気持ちなど",style: "width:100%; height:100px;" %>
    </div>
    <div class="form-group">
      <%= f.label :" 写真", class: "col-sm-4 control-label far fa-image " %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="actions text-right">
      <%= f.submit "保存", class: "btn btn-outline-info" %>
    </div>
  <% end %>
</div>