<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style= "margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">tweet投稿詳細</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-right">
      <%= link_to user_path(@tweet.user) do %>
        <%= attachment_image_tag @tweet.user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
      <% end %>
    </div>

    <div class="col-md-8 text-left">
      <table class='table table-borderless'>
        <thead>
          <tr>
            <th style="width: 50%"><%= link_to @tweet.user.name, user_path(@tweet.user) %></th>
            <th style="width: 50%"><%= @tweet.created_at.strftime('%Y/%m/%d %H:%M') %></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @tweet.challenge %></td>
            <td><%= @tweet.hour_attribute %>時間　<%= @tweet.minute_attribute %>分</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="2"><%= @tweet.tweet %></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="2">
              <% if @tweet.images.attached? %>
                <% @tweet.images.each do |image| %>
                  <%= image_tag image.variant(resize:'300x300') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><p class="far fa-comment" style="color:#ff6f00 ;">
            <%= @tweet.comments.count %> コメント</p>
            </td>

            <!--いいね非同期通信-->
            <td id="like-btn">
              <%= render 'likes/like-btn', tweet: @tweet %>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
        <% @tweet.comments.each do |comment| %>
      <table class='comments-table'>
        <tr>
          <td style="width: 30%">
            <%= link_to user_path(comment.user) do %>
              <%= attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle") %>
              <%= comment.user.name %>
          </td>
          <td>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td style="width: 20%">
              <%= comment.comment %>
            <% end %>
          </td>
          <td style="width: 50%">
             <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", tweet_comment_path(comment.tweet, comment), method: :delete %>
            </div>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>

      <div class="new-comment">
        <%= form_with(model:[@tweet, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5', cols:'80',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




