<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style= "margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">tweet投稿詳細</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-right">
      <%= link_to user_path(@tweet.user) do %>
        <%= attachment_image_tag @tweet.user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
      <% end %>
    </div>

    <div class="col-md-8 text-left">
      <table class='table table-borderless'>
        <thead>
          <tr>
            <th style="width: 40%"><%= link_to @tweet.user.name, user_path(@tweet.user) %></th>
            <th style="width: 30%"><%= @tweet.created_at.strftime('%Y/%m/%d %H:%M') %></th>

            <% if @tweet.user == current_user %>
            <th style="width: 15%">
              <%= link_to "編集", edit_tweet_path(@tweet), class: "glyphicon glyphicon-pencil btn btn-success" %>
            </th>
            <th style="width: 15%">
              <%= link_to "削除", tweet_path,method: :DELETE, data: {confirm: "この投稿を本当に削除しますか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>
            </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @tweet.challenge %></td>
            <td><%= @tweet.hour_attribute %>時間　<%= @tweet.minute_attribute %>分</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="4"><%= @tweet.tweet %></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="4">
              <% if @tweet.images.attached? %>
                <% @tweet.images.each do |image| %>
                  <%= image_tag image.variant(resize:'300x300') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><p class="far fa-comment" style="color:#ff6f00 ;">
            <%= @tweet.comments.count %> コメント</p>
            </td>

            <!--いいね非同期通信-->
            <td id="like-btn">
              <%= render 'likes/like-btn', tweet: @tweet %>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <!--コメント非同期通信-->
      <div id="comments-area"><%= render 'comments/comment', tweet: @tweet, comment: @comment %></div>
    </div>
  </div>
</div>