<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h4>ユーザー検索結果</h4>
    </div>
  </div>

<!--users/show上部　Myページ情報引用-->
  <% @results.each do |user| %>
   <div class="row"  style= "border-bottom: 1px solid #bbbbbb;">
      <table class='table table-borderless'>
        <thead>
          <tr>
            <th style="width:20%;">
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image,format: 'jpeg',fallback: "human.jpg" ,class: "icon" %>
                <br><%= user.name %>
              <% end %>
            </th>
            <td style="width:15%;"><%= user.age_status %></td>
            <td style="width:15%;"><%= user.job_status %></td>
            <td style="width:20%;"><%= user.challenge_contents %></td>
            <td style="width:30%;"><%= user.introduction %></td>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <% if user.id == current_user.id %>
                <%= link_to "マイページ編集", edit_user_path(user), class: "btn btn-outline-success" %>
              <% else %>
                <%= render 'relationships/follow_btn', user: user %>
              <% end %>
            </td>
              <%= render 'relationships/follow_count', user: user %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= paginate @results %>
</div>