<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">ユーザー検索結果</h5>
    </div>
  </div>

<!--users/show上部　Myページ情報引用-->
<% @results.each do |user| %>
 <div class="row">
    <div class="col-md-3 text-right">
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
    </div>
    <div class="col-md-8 text-left">
    <p><%= user.name %>
    <%= user.age_status %>  <%= user.job_status %></p><br>
    <p><%= user.challenge_contents %> <br>
    <p><%= user.introduction %>
    <% if user.id == current_user.id %>
      <%= link_to "マイページ編集", edit_user_path(user), class: "glyphicon glyphicon-pencil btn btn-success" %>
    <% else %>
      <%= render 'relationships/follow_btn', user: user %>
    <% end %></p>
    <p><%= render 'relationships/follow_count', user: user %></p>
    </div>
  </div>
<% end %>