<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="search_box">
        <h4>ユーザー検索画面</h4><br><br>

      <%= search_form_for @q, url: result_users_path do |f| %>
        <table class='table table-borderless '>
          <tbody>
            <tr>
              <th style="width: 40%;">
                <%= f.label :"ニックネーム" %>
              </th>
              <td style="width: 60%">
                <%= f.search_field :name_cont %>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th>
                <%= f.label :"年代" %>
              </th>
              <td>
                <%= f.radio_button :age_status_eq,'' %>指定なし&emsp;
                <%= f.radio_button :age_status_eq, 0 %> 高校生&emsp;
                <%= f.radio_button :age_status_eq, 1 %> 大学生&emsp;
                <%= f.radio_button :age_status_eq, 2 %> 浪人生&emsp;
                <%= f.radio_button :age_status_eq, 3 %> 大学院生&emsp;
                <%= f.radio_button :age_status_eq, 4 %> 専門学生&emsp;
                <%= f.radio_button :age_status_eq, 5 %> 社会人&emsp;
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th>
                <%= f.label :"職種" %>
              </th>
              <td>
                <!--モデルに書いたenumを呼び出す-->
                <%= f.select :job_status_eq, User.job_statuses, {} %>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th>
                <%= f.label :"がんばっていること、自己紹介文" %>
              </th>
              <td>
                <%= f.search_field :introduction_or_challenge_contents_cont %>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td colspan=2 class="actions text-right">
              <%= f.submit "検索結果へＧＯ！", class: "btn btn-outline-info col-xs-6" %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>