<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">Myページ</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 text-right">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
    </div>
    <div class="col-lg-9 text-left">
    <p><%= @user.name %>
    <%= @user.age_status %>  <%= @user.job_status %></p><br>
    <p><%= @user.challenge_contents %> <br>
    <p><%= @user.introduction %>
    <% if @user.id == current_user.id %>
      <%= link_to "マイページ編集", edit_user_path(@user), class: "glyphicon glyphicon-pencil btn btn-success" %>
    <% end %></p>
    </div>
  </div>

  <% @tweets.each do |tweet| %>
  <div class="row">
    <div class="col-lg-3 text-right">
      <%= link_to tweet_path(tweet) do %>
        <%= attachment_image_tag tweet.user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" ,class: "rounded-circle" %>
      <% end %>
    </div>

    <div class="col-lg-9 text-left">
      <table class='table table-borderless'>
        <thead>
          <tr>
            <th><%= link_to tweet.user.name, tweet_path(tweet) %></th>
            <th><%= tweet.created_at.strftime('%Y/%m/%d %H:%M') %></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= tweet.challenge %></td>
            <td><%= tweet.hour_attribute %>時間　<%= tweet.minute_attribute %>分</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="2"><%= tweet.tweet %></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="2"><% if tweet.images.attached? %>
                  <% tweet.images.each do |image| %>
                    <%= image_tag image.variant(resize:'200x200') %>
                  <% end %>
                <% end %>
            </td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td></td>
            <td>コメント件数：<%= tweet.comments.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <%= paginate @tweets %>
</div>
