<div class="calendar-container">
  <h4 class="calendar-title" style= "margin: 15px 15px 15px 30px;">Myカレンダー</h4>

  <div class="row">
    <div class="col-3">
    <div class="sidebar"><br>
      <%= form_with(model: @calendar, local: true) do |f| %>
        <div class="form-group text-center">
          <%= f.label :"がんばった日", class: "h5 col-sm-12 control-label" %>
          <%= f.date_select :start_time %>
        </div><br>

        <!--モデルに書いたenumを呼び出す-->
      <%= f.label :"今日のごほうびスタンプ", class: "h5 col-sm-12 control-label" %>
        <table class='table table-borderless'>
          <tbody>
            <tr>
              <td style="width: 50%">
                <%= f.radio_button :stamp_type, "stamp1.jpg" %>
                <%= image_tag 'stamp1.jpg', class: 'stamp1' %>
              </td>
              <td style="width: 50%">
                <%= f.radio_button :stamp_type, "stamp4.jpg" %>
                <%= image_tag 'stamp4.jpg', class: 'stamp1' %>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <%= f.radio_button :stamp_type, "stamp3.jpg" %>
                <%= image_tag 'stamp3.jpg', class: 'stamp1' %>
              </td>
              <td>
                <%= f.radio_button :stamp_type, "stamp2.jpg" %>
                <%= image_tag 'stamp2.jpg', class: 'stamp1' %>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td></td>
              <td class='text-center'><br>
               <%= f.submit "保存", class: "btn btn-info save col-xs-6" %>
              </td>
      <% end %>
        </table>
    </div>
    </div>

    <div class='col-9'>
      <%= month_calendar events: @calendars do |date, calendars| %>
        <%= date.day %>

        <% calendars.each do |calendar| %>
          <div>
            <%= link_to calendar_path(calendar),method: :delete,data: {confirm: "このスタンプを削除しますか？"} do %>
              <%= image_tag calendar.stamp_type, class: 'stamp2' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>