<div class="calendar-container">
  <div class="row">
    <div class="col " style= "margin: 15px 15px 15px 30px;">
      <h4>Myカレンダー</h4>
    </div>
  </div>

  <div class="row">
    <div class="sidebar col-3"><br>
      <%= form_with(model: @calendar, local: true) do |f| %>
        <div class="form-group text-center">
          <%= f.label :"がんばった日", class: "h5 col-sm-12 control-label" %>
          <%= f.date_select :start_time %>
        </div><br>

        <!--モデルに書いたenumを呼び出す-->
      <%= f.label :"今日のごほうびスタンプ", class: "h5 col-sm-12 control-label" %>
        <table class='table table-borderless'>
          <tbody>
            <tr>
              <td style="width: 50%">
                <%= f.radio_button :stamp_type, "stamp1.jpg" %>
                <%= image_tag 'stamp1.jpg', class: 'stamp1' %>
              </td>
              <td style="width: 50%">
                <%= f.radio_button :stamp_type, "stamp4.jpg" %>
                <%= image_tag 'stamp4.jpg', class: 'stamp1' %>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <%= f.radio_button :stamp_type, "stamp3.jpg" %>
                <%= image_tag 'stamp3.jpg', class: 'stamp1' %>
              </td>
              <td>
                <%= f.radio_button :stamp_type, "stamp2.jpg" %>
                <%= image_tag 'stamp2.jpg', class: 'stamp1' %>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <%= f.radio_button :stamp_type, "white.jpg" %>
                <%= image_tag 'white.jpg', class: 'stamp1' %>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class='text-center'>
               <%= f.submit "保存", class: "btn btn-primary save col-xs-6" %>
      <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class='col-9'>
      <%= month_calendar events: @calendars do |date, calendars| %>
        <%= date.day %>

        <% calendars.each do |calendar| %>
          <div>
              <%= image_tag calendar.stamp_type, class: 'stamp2' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>