<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style= "margin: 15px 0 15px 0;">
      <h5 style="background-color: #eeeeee;">Myカレンダー</h5>
    </div>

  <%= form_with(model: @calendar, local: true) do |f| %>
    <!--モデルに書いたenumを呼び出す-->
    <div class="form-group col-xs-12">
      <%= f.label :"今日のごほうびスタンプ", class: "col-sm-5 control-label" %>
      <%= f.radio_button :stamp_type, "stamp1.png" %>
      <%= f.radio_button :stamp_type, "stamp4.png" %>
      <%= f.radio_button :stamp_type, "stamp3.png" %>
      <%= f.radio_button :stamp_type, "stamp2.png" %>
    </div>
    <div class="actions col-xs-9 col-xs-offset-3">
        <%= f.submit "保存", class: "btn btn-primary save col-xs-6" %>
    </div>
     <div class="actions col-xs-9 col-xs-offset-3">
        <%=link_to "削除",calendar_path(current_user) , method: :delete ,class: "btn btn-primary save col-xs-6" %>
    </div>
  <% end %>

  <br>
  <div class="col-md-8">
  <%= month_calendar events: @calendars do |date, calendars| %>
    <%= date.day %>

    <% @calendars.each do |calendar| %>
      <div>
        <%#= link_to calendar.title %>
        <%= image_tag calendar.stamp_type %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>