<!DOCTYPE html>
<html>
  <head>
    <title>StartChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="background-color: #f9f7f5;">
    <div class="wrapper">
      <%= render 'layouts/header' %>

      <!--フラッシュメッセージ-->
      <%= render 'layouts/flash_messages' %>

      <!--エラーメッセージ-->
      <%= render 'layouts/error_messages' %>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
